<!-- inherit indext.html file-->
{% extends 'index.html' %}
{% load crispy_forms_tags %}
{% block content %}
<div class="row">
    <aside class="col-sm-2"></aside>
    <aside class="col-sm-8">
    <article class="card-body">
        <form method="post">
            <div class="card-title"><span class="badge badge-secondary">Sign Up</span></div>

            {% csrf_token %} <!-- without this token form will never be submitted.-->
            {{form|crispy}}
            
            <button type="submit" class="btn btn-success">Submit</button>
        



        </form>

    </article>

    </aside>
    <aside class="col-sm-2"></aside>
    

</div>
{% endblock content %}
    