<!-- inherit indext.html file-->
{% extends 'index.html' %}
{% load crispy_forms_tags %}
{% block content %}
<div class="row">
    <aside class="col-sm-2"></aside>
    <aside class="col-sm-8">
    <article class="body">
        <form method="post">
            {% csrf_token %} <!-- without this token form will never be submitted.-->
            {{form|crispy}}
            
            <button type="submit" class="btn btn-success">Submit</button>
            <input type="hidden" name="next" value="{% if request.POST.next %}{{ request.POST.next }}{% else %}{{ request.GET.next }}{% endif %}"/>



        </form>

    </article>

    </aside>
    <aside class="col-sm-2"></aside>
    

</div>
{% endblock content %}
    